*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    margin: 22px 220px 25px 212px;
    display: flex;
    justify-content: space-between;
}
.n-home{
    text-decoration: none;
    color: #278cd8;
}
.n-home:hover{
    color: #278cd8;
}
.nav-item:hover{
    text-decoration: none;
    color: black;
}
.nav-item{
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
}
.nav-item:hover{
    border-top:1px solid #5ca64a;
  }
.n-default{
    color: #000;
}

.bold{
    color: #2279bb;
}
h2{
    text-align: center;
    font-weight: 400;
    color: #8a8c98;
    font-size: 1.7rem;
}
.slogan{
    margin: 100px 0px 100px 0px;
}
h2::after{
    content: " ";
    display: block;
    height: 3px;
    width: 130px;
    background-color:#5ca64a;
    margin:30px 0px 0px 500px;
}
.welcome{
    display: flex;
    justify-content: space-between;
}
.welcome-img{
    flex: 1;
    margin-right: 30px;
}
.welcome-p{
    flex: 1;
}
.block{
    width: 583px;
    font-weight: 900;
}
.block-txt{
    font-weight: 900;
}
.news{
    display: flex;
    margin: 150px 0px 100px 0px ;
    justify-content: space-between;
    font-size: 24px;
}
.news1{
    flex: 1;
    margin-right: 25px;
    margin-bottom: 10px;
}
.headline{
    margin-right: 290px;
}
.headline:hover{
    text-decoration: none;
}
h6{
    font-weight: 100;
}
.description{
    margin-top: 20px;
    border-bottom: solid 1px #e4e5e8;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.products{
    background-color: #dbdce0;
    width: 100%;
    height: 200px;
}
.prods img{
    width: 130px;
    height: 180px;
    overflow: visible;
}
.post-end{
    background-color: #4188ca;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
}
.slg{
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding-left: 280px;
    padding-top: 22px;
}
.fblink{
    margin-top: 20px;
    margin-right: 290px;
}
.info{
    display: flex;
    padding: 56px 60px 56px 200px;
}
.info-child{
    flex: 1;
    color: white;
}
.mail{
    font-weight: 200;
    color:#ccc;
    text-decoration: none;
}
.mail:hover{
    color: white;
    transition: color 0.7s;
    text-decoration: none;
}
.container{
    width: 100%;
}
.copyright{
    color: white;
    font-weight: 200;
    padding-left: 95px;
    padding-top: 15px;
}
.copyright-divider{
    background-color: #191b29; 
    height: 80px; 
    width: 100%;
}
.info-parent{
    background-color: #20243a; 
    height: 315px; 
    width: 100%;
}
.dropdown{
    display: none;
}
.news1{
    padding-right: 50px;
}
@media only screen and (min-width: 992px){
    .nav-item{
        display: none;
    }   
    h2::after{
        content: " ";
        display: block;
        height: 3px;
        width: 130px;
        background-color:#5ca64a;
        margin:30px 0px 0px 430px;
    }
    .header{
        margin: 15px 200px 15px 41px;
    }
    .dropdown{
        display: block;
        flex: 1;
        order: 2;
        margin-top: 20px;
    }
    .logo{
        margin-right: 490px;
        margin-top: 5px;
    }
    h2{
        font-size: 1rem;
    }
    .block{
        width: 452px;
        height: 254.25px;
    }
    .slg{
        padding-left: 100px;
    }
    .info{
        padding: 56px 60px 56px 50px;
    }
    .logo-no-slug{
        width: 202.5px;
        height: 30.7667px;
    }
}
@media only screen and (min-width: 768px){
    .nav-item{
        display: none;
    }   
    h2::after{
        content: " ";
        display: block;
        height: 3px;
        width: 130px;
        background-color:#5ca64a;
        margin:30px 0px 0px 290px;
    }
    .header{
        margin: 15px 200px 15px 41px;
    }
    .dropdown{
        display: block;
        flex: 1;
        order: 2;
        margin-top: 20px;
    }
    .logo{
        margin-right: 330px;
        margin-top: 5px;
    }
    h2{
        font-size: 1rem;
    }
    .block{
        width: 367.5px;
        height: 206.717px;
    }
    .slg{
        padding-left: 100px;
    }
    .info{
        padding: 56px 260px 56px 50px;
    }
    .info-child{
        margin-right: 200px;
    }
}
@media only screen and (min-width: 576px){
    .nav-item{
        display: none;
    }   
    h2::after{
        content: " ";
        display: block;
        height: 3px;
        width: 130px;
        background-color:#5ca64a;
        margin:30px 0px 0px 190px;
    }
    .header{
        margin: 15px 200px 15px 41px;
    }
    .dropdown{
        display: block;
        flex: 1;
        order: 2;
        margin-top: 20px;
    }
    .logo{
        margin-right: 170px;
        margin-top: 5px;
    }
    h2{
        font-size: 1rem;
    }
    .block{
        width: 550px;
        height: 347.05px;
        margin-bottom: 40px;
    }
    .welcome{
        flex-direction: column;
    }
    .slg{
        padding-left: 100px;
    }
    .info{
        padding: 56px 260px 56px 50px;
    }
    .info-child{
        margin-right: 50px;
    }
    .news{
        flex-direction: column;
    }
}